html,
body,
#root {
    margin: 0;
    height: 100%;
}
:root {
    --bg-dark: #060606;
    --bg-light: #e9eaee;
    --color: red
}
[data-value] {
    --color: #745844;
}
body {
    --color: blue;
}

.app {
    color: var(--color);
}
h2{
    color:  var(--color);
}
